<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact geniusdev</title>
</head>
<body>
    <%- include('partials/header') %>
    <br>    <br>
    <div class="center">
        
        <h1>contact us</h1>
        
        
    </div>
    <div class="center" style="height: 61vh;">
        <b><p><br> <a href="mailto:alizaib.web.dev@gmail.com" style="text-decoration: underline;">alizaib.web.dev@gmail.com</a></p></b>
    </div>



    <br>    <br>
    

        

    <br>
    <br>
    <%- include('partials/footer') %>
</body>
</html>